/* CSS styles here */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 0px auto;
  margin: 100 auto;
  padding: 40px;
  border: 1px solid #bb191942;
  border-radius: 5px;
}
p{
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: flex-start; /* Vertical top alignment */
  height: 40px; /* Set a height for the container for demonstration purposes */

}
h2 {
  text-align: center;
margin: 30px auto;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display:block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
  color: #8b0e3a;
}

.button-container {
  display: flex;
  justify-content: center;
}
a{
margin: 200px;
}
.btn {
  margin-bottom: 40px;
  display: block;
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  margin: auto ; /* This will center the button horizontally */
}

.btn:hover{
  background-color: #8b0e3a;

}
